<!DOCTYPE html>
<html>
<head>
  <title>Run Python Script</title>
</head>
<body>
  <button onclick="runPythonScript()">Run Python Script</button>
  <script>
    function runPythonScript() {
      // Send an AJAX request to the server to run the Python script
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/run_script");
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            console.log("Python script executed successfully");
          } else {
            console.error("Error executing Python script");
          }
        }
      };
      xhr.send();
    }
  </script>
</body>
</html>
